<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP Home</title>
</head>
<body>
     <h4>{{obj}}</h4>
     <h5> total attendance all course {{total}}</h5>
     <h4> total present al course  {{present}}</h4>
     <h4> total absent all course  {{absent}}</h4>
     <h4> total att of particular course {{totcourse}}</h4>
     <h4> total present of course {{coursep}}</h4>
     <h4> total absent of coursea {{coursea}}</h4>
      <p>
        {{queryset}}
      </p>
</body>
</html>